body{
   background-color: rgba(28, 164, 194, 0.558);
}

p{
   width: 170px;
   height: 30px;
   border: 2px solid #000;
   text-align: center;
   border-radius: 10px;
   font-size: 24px;
   color: #fff;
}